<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: header(~{::title})">
        <title>Lksun 图书管理系统 - 首页</title>
    </head>
</head>

<body class="skin-default-dark fixed-layout">

<div th:replace="common/header :: top"></div>

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor"> 创 建 读 者 </h3>
            </div>
        </div>

        <div class="row">

        </div>
    </div>
</div>

<div th:replace="common/footer :: script"></div>
</body>
</html>