<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="common/header :: header(~{::title})">
        <title> Lksun 图书管理系统 - 首页 </title>
    </head>
</head>

<body class="skin-default-dark fixed-layout">

    <div th:replace="common/header :: top"></div>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor"> 读 者 管 理 </h3>
                </div>

                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-success d-none d-lg-block m-l-15" href="#"> 添加新读者 </a>
                    </div>
                </div>
            </div>

            <!-- row star-->
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Basic Table</h4>
                            <h6 class="card-subtitle">Add class <code>.table</code></h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>姓名</th>
                                        <th>联系方式</th>
                                        <th>加入时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user,userStat : ${list}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.mob}"></td>
                                            <td th:text="${user.create_time}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- row end -->
        </div>
    </div>

    <div th:replace="common/footer :: script"></div>

</body>
</html>